body {
    background-color:black;
}

.game {
    margin: auto;
}

canvas {
    border: 1px solid black;
    text-align: center;
    background-color: #0088EE;
    image-rendering:optimizeSpeed;
    image-rendering:pixelated;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}